/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

/* Styles for Hero Section */
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #ededeb
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ffd633;
}

/* Styles for Services Section */
.services {
    padding: 50px 0;
    text-align: center;
    background-color: #c2c1c0
}

.service-item {
    margin-bottom: 30px;
}

.service-item h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Styles for Footer */
